<h1>Buses</h1>

<div class="container">
  <button type="button" (click)="addBus()" >+ Añadir bus</button>
</div>

<table class="bus-list">


  <thead>
  <tr>
    <th>Placa</th>
    <th>Modelo</th>
    <th>Ver detalles bus</th>
    <th>Editar bus</th>
    <th>Eliminar bus</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let bus of buses" >
    <td> {{bus.placa}}</td>
    <td> {{bus.modelo}}</td>
    <td>
      <button type="button" (click)="verBus(bus)">Ver</button>
    </td>
    <td>
      <button type="button">Editar</button>
    </td>
    <td>
      <button type="button" (click)="deleteBus(bus)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>

