<h1>Rutas</h1>

<div class="container" *ngIf="keyCloakService.isUserInRole('ROLE_ADMINISTRADOR')||keyCloakService.isUserInRole('ROLE_UNIVERSAL')">
  <button type="button" (click)="addRuta()" >+ Añadir ruta</button>
</div>

<table class="bus-list">


  <thead>
  <tr>
    <th>Nombre Ruta</th>
    <th>Ver detalles ruta</th>
    <th *ngIf="keyCloakService.isUserInRole('ROLE_ADMINISTRADOR')||keyCloakService.isUserInRole('ROLE_UNIVERSAL')">Editar ruta</th>
    <th *ngIf="keyCloakService.isUserInRole('ROLE_ADMINISTRADOR')||keyCloakService.isUserInRole('ROLE_UNIVERSAL')">Eliminar ruta</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let ruta of rutas" >
    <td> {{ruta.nombreRuta}}</td>

    <td>
      <button type="button" (click)="verEstaciones(ruta)">Ver Estaciones</button>
    </td>
    <td *ngIf="keyCloakService.isUserInRole('ROLE_ADMINISTRADOR')||keyCloakService.isUserInRole('ROLE_UNIVERSAL')">
      <button type="button" (click)="editRuta(ruta)">Editar</button>
    </td>
    <td *ngIf="keyCloakService.isUserInRole('ROLE_ADMINISTRADOR')||keyCloakService.isUserInRole('ROLE_UNIVERSAL')">
      <button type="button" (click)="deleteRuta(ruta)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
