<div class="Fondo" [@routeAnimations]="getRouteAnimationData()">
  <div class="Header">
    <h1>Transmilleno</h1>
    <h2>Sistema de gestión de buses</h2>
  </div>

  <nav class="menuPrincipal">

    <a routerLinkActive="menuSelected" [routerLink]="['/bus/list']">Buses</a>

    <a routerLinkActive="menuSelected" [routerLink]="['/conductor/list']">Conductores</a>

    <a routerLinkActive="menuSelected" [routerLink]="['/horario/list']">Horarios</a>

    <a routerLinkActive="menuSelected" [routerLink]="['/ruta/list']">Rutas</a>

    <a routerLinkActive="menuSelected" [routerLink]="['/estacion/list']">Estaciones</a>

  </nav>

  <router-outlet></router-outlet>
</div>
