<h1>Conductores</h1>

<div class="container">
  <button type="button" (click)="addConductor()" >+ Añadir conductor</button>
</div>

<table class="bus-list">


  <thead>
  <tr>
    <th>Nombre</th>
    <th>Cedula</th>
    <th>Teléfono</th>
    <th>Dirección</th>
    <th>Editar conductor</th>
    <th>Eliminar conductor</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let conductor of conductores" >
    <td> {{conductor.nombre}}</td>
    <td> {{conductor.cedula}}</td>
    <td> {{conductor.telefono}}</td>
    <td> {{conductor.direccion}}</td>

    <td>
      <button type="button" (click)="editarConductor(conductor)">Editar</button>
    </td>
    <td>
      <button type="button" (click)="eliminarConductor(conductor)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
