<div>
  <h1>Crear estación</h1>
  <div class="container">
    <div class="selectContainer">
      <p><b class="subtitulo">Nombre nueva estación: </b> <input type="text" [(ngModel)]="entradaTexto"></p>

      <div class="selectContainer">
        <label class="subtitulo"> Seleccione la estación previa: </label>
        <select [(ngModel)]="estacionPrevia">
          <option *ngFor="let estacion of estaciones" [value]="estacion.mapKey">{{ estacion.nombre }}</option>
        </select>
      </div>
      <div class="buttonContainer">
        <button type="button" (click)="volver()">Volver</button>
        <button type="button" (click)="guardar()">Confirmar creación</button>
      </div>

    </div>
  </div>

</div>

