<div>
  <h1>Editar horario</h1>
  <div class="container">
    <div class="allSelectContainer">
      <p id="conductorHorarioId"><b class="subtitulo">Conductor actual: </b> {{horario?.conductorHorario}}</p>
      <p id="busHorarioId"><b class="subtitulo">Bus actual: </b> {{horario?.busHorario}}</p>
      <p id="diaHorarioId"><b class="subtitulo">Día actual: </b> {{horario?.diasSemana}}</p>
      <p id="horaInicioHorarioId"><b class="subtitulo">Hora Inicio actual: </b> {{horario?.horaInicioStr}}</p>
      <p id="horaFinalHorarioId"><b class="subtitulo">Hora final actual: </b> {{horario?.horaFinStr}}</p>
      <p id="rutaHorarioId"><b class="subtitulo">Ruta actual: </b> {{horario?.rutaHorario}}</p>
    </div>
    <br><br>
    <div class="buttonContainer">
      <button type="button" (click)="volver()">Volver</button>
    </div>
  </div>

</div>
