body {
  background-image: url('src/assets/low-poly-grid-haikei.svg');
  background-position: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


